body{
  margin: 0 ;
  padding: 0;
  background-image: url("collegue.jpg");
  background-repeat: no-repeat !important;
  background-size: cover;
}
.topnav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(98, 98, 224);
  align-items: center;
  padding: 2px 30px;
  color:antiquewhite;


}

.adress{
display: flex;



}
.nav{
display: flex;
justify-content: space-between;
padding: 2px 30px;
background-color: antiquewhite;



}


.ul{
display: flex;

}

.ul li{

  margin-right: 15px;
list-style: none;

}

.btn{
border-radius: 20px;
padding:10px;

}

.lead{
  padding: 0 0 0 30px;
  height: 150px;
  text-align: center;
  


}
/* .ul{
  float: right;
  display: flex;
}



li{
  padding: 20px;
  color:black;
  list-style-type: none;

}

button{
  float: right;
  color: rgb(20, 12, 1);
  background-color: lightblue;
  
} */
