body{
  margin: 0 !important;
  padding: 0;
  background-image: url(skydive.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}

img{

  height: 30px;
  width: 30px;
  margin: 20px;
  margin-top: 20px;
  margin-right: 20px;

  margin: 15px 0px 0 20px;
  border-radius: 50px;


}
 .title{
  margin: -15px 0 0 25px;
  color:darkorange;

 }
 .ul{
   display: flex;
   float: right;
   margin:-25px 24px 0 5px;

 }

 li{
  padding: 10px;
  color: aqua;
  list-style-type: none;

 }
 #desc{
  text-align: center;
  font-size: 70px;
  color:aquamarine;
  margin: 120px 0 0 0;

 }

button{
  align-items: center;
  color: bisque;
  background-color: mediumspringgreen;
  margin: 50px 0 0 540px;
  border: none;
  height: 50px;
  width: 130px;
  border-radius: 50px;
  font-size: 20px;
  
}
button:hover{
  align-items: center;
  color: rgb(145, 84, 10);
  background-color:rgb(1, 12, 12);
  margin: 50px 0 0 540px;
  border: none;
  height: 50px;
  width: 130px;
  border-radius: 3px;
  font-size: 20px;
  
}
